h1,h3 {
    text-align: center;
}
h1 {
    color: blue;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    height: 10%;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    background-color: red;
}

.container {
    padding: 2px 16px;
}
a:link {
    color: blue;
    text-decoration: none;
}

a:visited {
    color: blue;
}

a:hover {
    color: yellow;
}

a:active {
    text-decoration: underline;
}
