h1 {
    text-align: center;
    color: blue;
  }
  
table {
    font-family: Calibri;
    color: white;
    font-size: 11pt;
    font-style: normal;
    font-weight: bold;
    background-color: black;
    border-collapse: collapse;
    border: 2px solid navy
  }
  table.inner{
    border: 0px
  }
