<!DOCTYPE html>
<html>
<head>
    <title>Events Page</title>
    {% load static %}
    <link rel = "stylesheet" href ="{% static '/Home/style.css' %}" type="text/css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/event/">Event</a></li>
            <li><a href="/Register/index/">Register</a></li>
        </ul>
    </nav>
    <h1>Events</h1>
    <hr>
    <div>
        <div>
            <div class="content">
            <h2>VIDYA JYOTI :</h2>
            <p>Vidya Jyoti is an educational initiative taken to educate women of the society who could not try their hands at students due to their commitment in shaping their children’s future and wish to learn. We appreciate their indomitable spirit and provide them free education and various needful skills which will directly or indirectly change the society structure.</p>
          </div>
          <div class="content">
            <h2>VRIKSHAROPAN :</h2>
            <p>This was an attempt to make students of local school aware about the importance of trees. Though it was an independent event, we expect Government help in such events in coming years.</p>
          </div>
          <div class="content">
            <h2>EYE-DENTAL CHECK-UP CAMP :</h2>
            <p>A free medical check-up camp was organised for poor and needy residents of our society. Check-up was done by esteemed doctors of Gaya such as Dr. Sita Ram, Dr. P.N. Roy. The camp was a success with humongous participation.</p>
          </div>
          <div class="content">
            <h2>MTSE :</h2>
            <p>This is the one of the regular events of Navprayas conducted each year to ignite the flame of competition from junior classes itself. We have objective type question paper and GD/Extempore/speech and interview in the first and second round respectively for classes 5 to 12.</p>
          </div>
          <div class="content">
            <h2>PUZZLE RACE :</h2>
            <p>This event is organised for the students of the class 7 to 10. Main objective of this event is to develop the ability of puzzle solving skills among students.</p>
          </div>
          <div class="content">
            <h2>RANGOTSAV :</h2>
            <p>Navprayas group, to involve large section of people including students, has started this event from last year. A large group of people participated to create beautiful Rangoli showcasing their hidden talent.</p>
          </div>
          <div class="content">
            <h2>FREE HAND SKETCHING :</h2>
            <p>It has been introduced by Navprayas group since 2008. It is the most interesting and creative event among students to involve them in creative ideas through painting, sketching and took their attention on social, environmental and political problems apart from their regular studies.</p>
          </div>
          <div class="content">
            <h2>CAREER COUNSELLING :</h2>
            <p>It is organised for the counselling of WBJEE, IIT JEE, NIT, etc. Main motive is to give proper guidance, elaborate rules of counselling and help them get the best college and desired department according to their achieved rank.</p>
          </div>
          <div class="content">
            <h2>PRATIBHA MILAN :</h2>
            <p>The Prize Distribution ceremony for the appreciation of qualified students in competitive exams like UPSE, IIT-JEE (Advanced), AIIMS, AIPMT, JEE Main, CAT, GRE, SSC, Bank-PO, etc. and for the winners of MTSE and other events organised by Navprayas every year, which is jointly known an “PRATIBHA MILAN”.</p>
          </div>
        </div>
    </div>
</body>
</html>
